body{
    background: #f0f0f0;
}

.container1{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 15%;
    text-align: center;
}

.lbl {
    display: inline-table;
    color:#000099;
    font-size: 150%;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.btn {
    display: inline-table;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    color:green;
    border: none;
}

input {
    display: inline-block;
    margin-top: 15%;
    width: 100%;
    text-align: center;
    font-size: 120%;
    color:black;
    background: whitesmoke;
    border: none;
}

